* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.results {
    list-style: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.video-result {
    margin-bottom: 15px;
}


.video-title, .video-thumbnail, .channel-link {
  
}

.video-title {
    font-size: 18px;
}

.video-thumbnail {
    display: block;
}

.video-thumbnail img {
    display: block;
    width: 100%;
}

.channel-link {
    margin-left: 15px;
    color: red;
}

@media screen and (min-width: 1024px) {
    .video-result {
        display: flex;
    }

    .video-thumbnail {
        flex-basis: 300px;
        flex-shrink: 0;
    }

    .video-info {
        text-align: left;
        padding-left: 10px;
        flex-grow: 1;
    }

    .results {
        max-width: 800px;
    }
}