* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.results {
    list-style: none;
}

.video-result {
    height: auto;
    clear: both;
}


.video-title, .video-thumbnail, .channel-link {
  display: inline-block;
  
}

.video-title {
    display: float;
    float: left;
    margin-left: 15px;
    clear: right;
}

.video-thumbnail {
    display: float;
    float: left;
}

.channel-link {
    display: float;
    float: left;
    margin-left: 15px;
    clear: right;
    color: red;
}